@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,700&display=swap');

*{
	font-weight: bold;
	font-family: 'Merriweather Sans', sans-serif;

}

button {
	width: 20%;
	margin-right: 1.5%;
	
}

#header {
	margin-left: 2%;
	font-size: 55px;
	margin-bottom: 15px;
	margin-top: 15px;
}

#input {
    display: flex;
	padding-left: 1.5%;
    
}
#zipCode {
    border: 1px solid black;
    border-radius: 7px;
	width: 58%;
	text-align: center;
}
#current_btn {
    border: 1px solid black;
    background-color: darkgrey;
	border-radius: 7px;
}

#forcast_btn {
    border: 1px solid black;
    margin-left: 0;
    border-radius: 7px;
    background-color: darkgrey;
}

#zip_inp {
	padding-bottom: 12px;
}