@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,700&display=swap');

*{
	font-weight: bold;
	font-family: 'Merriweather Sans', sans-serif;
}

/*--Current weather CSS--*/

.vcontain {
  display: flex;
  flex-direction: column;
}
.hcontain {
  display: flex;
  flex-direction: row;
}
#forbox {
  width: 395px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 6px 9px 17px 0px rgba(0, 0, 0, 0.42);
}

#info {
  height: 70%;
  justify-content: center;
}

#discript{
	padding-bottom: 15px;
	text-align: center;
	font-size: 20px;
  text-transform: capitalize;
}

#local {
  justify-content: center;
}

h1 {
  font-size: 25px;
}

.icon {
  width: 187px;
}

.temp_press {
  margin-top: auto;
  margin-left: auto;
  font-size: 23px;
  margin-bottom: 60px;
  margin-right: 35px;
}

#icon-dis {
	margin-bottom: 20px;
	align-content: center;
}

#current_img {
	display: block;
	margin: 0 auto;
	padding-top: 5px;
}
/*-- Card CSS--*/

.contain {
  display: flex;
}
#inside {
  flex-direction: column;
  width: 160px;
  height: auto;
  border: 2px solid lightgray;
  border-radius: 10px;
  background-color: lightgray;
  box-shadow: 6px 9px 17px 0px rgba(0, 0, 0, 0.42);
  margin-bottom: 20px;
  margin-right: 15px;
}
#outside {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}
.carditem {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
}

#img {
  width: 100%;
  margin: 0;
}
